body {
    line-height: 1.6;
    /* background-color: bisque; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.conteiner {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 16px;
    /* باعث می شود در موبایل به لبه ها نچسبد */
}

.titel {
    /* min-height: 60px; */
    color: white;
    background-color: rgb(33, 110, 188);
    /* border-bottom: 1px solid black; */
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid black; */
    /* border-left: 1px solid black; */
}

.brdname {
    border-bottom: 1px solid black;
}

.aboutme {
    background-color: rgb(255, 255, 255);
    /* border-right: 1px solid black; */
    /* border-left: 1px solid black; */
    border-bottom: 1px solid black;
}

.learn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    /* color: rgb(15, 143, 189); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ablity {
    /* min-height: 120px; */
    /* border-right: 1px solid black; */
    /* border-left: 1px solid black; */
    border-bottom: 1px solid black;
    background-color: white;
}

.textcenter1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textcenter2 {
    /* color: rgb(15, 143, 189); */
    margin: auto;
    text-align: center;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exwork {
    /* min-height: 40px; */
    background-color: white;
    /* border-right: 1px solid black; */
    /* border-left: 1px solid black; */
    border-bottom: 1px solid black;
}

.flexr {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    background-color: white;
    /* border-right: 1px solid black; */
    /* border-left: 1px solid black; */
    border-bottom: 1px solid black;
}

.desighn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
    min-width: 90px;
    /* border-right: 1px solid black; */
    /* border-left: 1px solid black; */
    border: 1px solid black;
    border-radius: 27px;
    background-color: rgba(96, 95, 94, 0.485);
    /* padding: 5px; */
    margin-right: 10px;
    margin-left: 10px;
    transition: 2s;
}

.textalighn {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.desighn:hover {
    color: black;
    background-color: rgb(80, 183, 183);
    transition: 2s;
}

.callme {
    background-color: white;
    /* border-right: 1px solid black; */
    /* border-left: 1px solid black; */
    border-bottom: 1px solid black;
}

.formcall {
    /* border-right: 1px solid black; */
    /* border-left: 1px solid black; */
    border-bottom: 1px solid black;
    background-color: white;
}

.centerform {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* height: px; */
}

/* .input1 {
    height: 25px;
}

.input2 {
    height: 25px;
}

.input3 {
    height: 500px;
} */

.input4 {
    max-height: 30px;
    min-width: 45px;
}

.allinput{
    all: unset;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}

.allinput:focus {
    border-color: palevioletred;
    transition: 1s;
}

.endform {
    font-size: small;
    color: white;
    background-color: rgb(4, 4, 102);
}

.phonecall {
    background-color: white;
    border-bottom: 1px solid black;
}

.rtl {
    direction: rtl;
}

@media (max-width:576px) {
    header .conteiner {
        flex-direction: column;
        align-items: center;
    }
}