body{
    margin: 0;
    padding: 0;
}
*{box-sizing: border-box;}
.container{
    /* height: 100vh; */
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 16px;
    background-color: white;
}
.titr{
    height: 7vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-around;
    align-items: center;
}
.titr1{
    width: 18vh;
    /* height: 5vh; */
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    border-radius: 1vh;
    transition: 1s;
}
.titr1 a {
    transition: 1s;
    text-decoration: none;
    color: black;
}
.edit1{
    width: 25vh;
}


/* ------------------------------------------- */

/* .titr:hover> :not(:hover){
    filter: blur(1px);
    box-shadow: 2px 3px 3px gold;
} */
 
/* ------------------------------------------- */


/* a:hover{
    box-shadow: 2px 3px 3px gold;
} */

input:focus + label{
    transform: translateY(-20px);
    color: chocolate;
}
input:focus{
    outline-color:#0077b6 ;
}
.off1{
   pointer-events: none;
}
p{ 
    padding: 0;
    margin: 0;
}
.titr1{
    font-size: 2vh;
}
.edit1{
    font-size: 3vh;
}
.txt-p1{
    color: orange;
}
.txt-p2{
    color: black;
}

.txt{
    display: none;
}

.center{
    /* height: 90vh; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}
.center1{
    /* height: 90vh; */
    width: 70%;
    border-radius: 3vh;
    background-color: rgb(255, 255, 255);
}
.center-down{
    display: flex;
    background-color: aqua;
    height: 40vh;
    /* width: 48%; */
    border-radius: 2vh;
    overflow: hidden;
}
.down-1{
    /* height: 50vh; */
    width: 50%;
    background-color: rgb(255, 255, 255);
}
.down-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 30vh;
    background-color: rgb(255, 255, 255);
    font-size: 3vh;
}
.dolor-bottun{
    display: flex;
    align-items: center ;
    justify-content: space-around;
    /* height: 10vh; */
    width: 70%;
    background-color: rgb(255, 255, 255);
}
.bottun{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 4vh; */
    width: 30%;
    background-color: black;
    color: white;
    border-radius: 1vh;
    cursor: pointer;
}
.bottun1{
    background-color: rgb(252, 134, 0);
    color: black;
}
.down-2{
   
    background-color: rgb(255, 255, 255);
}
.center-1{
    /* height: 50vh; */
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
    border-bottom-left-radius: 3vh;
    overflow: hidden;
}
.img-1{
    height: 100%;
    width: 100%;
}
.p-txt{
    /* font-size: 3vh; */
}
.down-1{
    font-size: 10px;
}
.bottun{
    font-size: clamp(1vh , 2vh , 3vh);
}