*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.one {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 16px;
    border: 2px solid;
    border-radius: 8px;
    overflow: scroll;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.two {
    width: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(3, 160, 166);
}

.t {
    font-size: large;
}

.tt {
    color: rgb(0, 0, 255);
    font-size: large;
}

.ll {
    width: 300px;
    border: 2px solid;
    border-radius: 9px;
}

.hh {
    color: blue;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}